* {
    /*border: 0.1em solid yellow;*/
    font-style: Tahoma, Geneva, sans-serif;
}


/*https://developers.google.com/maps/documentation/javascript/tutorial*/
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}


#map {
    height: 100%;
}


a:hover,
a:visited,
a:link,
a:active,
a:focus {
    text-decoration: none;
}


/*navbar header*/
.container-fluid {
    background: #111;
}

/*
Reference
  1) Pure CSS off-screen Navigation Menu
    https://www.sitepoint.com/pure-css-off-screen-navigation-menu
  2) Shrink Width to Collaspe Sidebar
    https://www.bootply.com/88026#
  3) Creating Off-canvas Push/Reveal/Overlay
    http://www.jqueryscript.net/menu/Creating-Off-canvas-Push-Reveal-Overlay-Menus-with-jQuery-jQPanels.html
*/


/*styling the navigation menu and items*/
.navbar-brand {
    color: #fff;
}


.navigation {
    background: #111;
    color: #fff;
    /*width: 180px;*/
    width: 30%;
    height:100%;
    position: fixed;
    top: 2.5em;
    right:0;
    bottom: 0;
    left:0;
    /*navigation menu is behind page content*/
/*    z-index: 1;*/
    padding: 1.5em;
    line-height: 35px;
}


@media screen and (max-width: 740px) {
    .navbar-brand {
    }
    .navigation {
        width: 60%;
    }
    .navigation input {
    }
    .navigation ul {
    }
    .navigation li {
        font-size: 0.9em;
    }
    .site-wrap {
    }
    label[for="nav-trigger"] {
    }
}


.navigation input {
    /*center*/
    margin: auto;
    display: block;
    /*size*/
    line-height: 1.5em;
    width: 100%;
    color: #111;
    padding: 0;
    /*round style*/
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    outline: none;
}


.navigation ul {
    margin: 0;
    padding: 0;
}


.navigation li {
    /*size*/
    line-height: 3em;
    width: 100%;
    padding-left: -1em;
    /*style*/
    list-style: none;
}


.site-wrap {
    /*the site's content completely covers the menu*/
    /*min-width: 100%;*/
    /*min-height: 100%;*/
    width: 100%;
/*    width: 100%;
    height: 100%;*/
    background-color: #fff;
    /*position: relative;*/
    position: absolute;
    /*top: 0;*/
    top: 3em;
    /*bottom: 100%;*/
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
    /*previous*/
    padding: 2em;
}


div > a:hover,
a:visited,
a:link,
a:active,
a:focus {
    color: #ddd;
    text-decoration: none;
    line-height: 2em;
}


/* Add the styles that change the menu trigger
from a standard checkbox input inot the classic hamburger icon*/
.nav-trigger {
    position: absolute;
    /*display: block; iOS crash -> clip() */
    clip: rect(0, 0, 0, 0);
}


/*style the label element*/
label[for="nav-trigger"] {
    position: fixed;    /*stays in the same spot*/
    top: 1em;  /*how far from the edge of the view port the icon*/
    left: 90%; /*how far from the edge of the view port the icon*/
    z-index: 2; /*make sure the trigger's z-index is at least one higher than .site-wrap*/
    /*make the label inot a "hamburger" icon*/
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;    /*to visually indicate interactiveity with cursor-based input*/
    /*inline SVG*/
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect style='fill: #FFFFFF;' width='30' height='6'/><rect y='24' style='fill: #FFFFFF;' width='30' height='6'/><rect y='12' style='fill: #FFFFFF;' width='30' height='6'/></svg>");
    background-size: contain;
}


/*make the tigger work*/
.nav-trigger:checked ~ .navigation {
    z-index: 1;
}


.nav-trigger:not(:checked) ~ .navigation {
    z-index: -1;
}

